<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/components/common.css" />
  <link rel="stylesheet" href="product-characteristics-card.css" />
  <title>Document</title>
</head>

<body>
  <!--la card sarà dentro un div-carosello, inserire in seguito scroolbar orizzontale in basso e due pulsanti ai lati-->
  <!--già collaudato con un div di prova, se messo in un div risponde bene alle dimensioni-->
  <div class="product-characteristics-card">
    <div class="slot-product-characteristics-card-image">
      <img class="product-characteristics-img"
        src="https://www.lego.com/cdn/cs/set/assets/blt0648f4067b853252/10306-202208-Block-Standard-1.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
        alt="characteristics-img">
    </div>
    <div class="slot-product-characteristics-card-content">
      <div class="container-product-characteristics-card-title">
        <h3 class="product-characteristics-card-title">Inserisci la cartuccia e gioca</h3>
      </div>
      <div class="container-product-characteristics-card-description">
        <p class="product-characteristics-card-description">Il pannello frontale riproduce la console con interruttori
          funzionanti.</p>
      </div>
    </div>
  </div>
</body>

</html>