<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/CSS/style.css">
    <title>Document</title>
  </head>
  <body>
    <aside class="store-checkbox-primary-container">
      <div class="store-checkbox-total-container">
<div class="store-checkbox-container">
<div class="store-checkbox-container-content">
<!-- assemblaggio checkbox section -->
<div class="store-container-checkbox-section">
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">Mostra solo disponibili</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
</div>
<!-- fine assemblaggio checkbox section -->
<!-- assemblaggio checkbox section -->
<div class="store-container-checkbox-section">
  <h3 class="store-h3-checkbox-section">
    <button class="store-button-checkbox-section">
      <span class="store-slot-content-checkbox-section">
        <span>Tipo di prodotto</span>
        <svg width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          class="store-icon-checkbox-section">
          <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
        </svg>
      </span>
    </button>
  </h3>
  <div class="store-container-ul-checkbox-section-effect displayNoneUlCheckbox">
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">Set</span>
              <span class="span-number-check">[<!-- -->5<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
  </div>
</div>
<!-- fine assemblaggio checkbox section -->
<!-- assemblaggio checkbox section -->
<div class="store-container-checkbox-section">
  <h3 class="store-h3-checkbox-section">
    <button class="store-button-checkbox-section">
      <span class="store-slot-content-checkbox-section">
        <span>Prezzo</span>
        <svg width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          class="store-icon-checkbox-section">
          <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
        </svg>
      </span>
    </button>
  </h3>
  <div class="store-container-ul-checkbox-section-effect displayNoneUlCheckbox">
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">0€ - 20€</span>
              <span class="span-number-check">[<!-- -->1<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">20€ - 50€</span>
              <span class="span-number-check">[<!-- -->3<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">100€+</span>
              <span class="span-number-check">[<!-- -->1<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
  </div>
</div>
<!-- fine assemblaggio checkbox section -->
<!-- assemblaggio checkbox section -->
<div class="store-container-checkbox-section">
  <h3 class="store-h3-checkbox-section">
    <button class="store-button-checkbox-section">
      <span class="store-slot-content-checkbox-section">
        <span>Tema</span>
        <svg width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          class="store-icon-checkbox-section">
          <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
        </svg>
      </span>
    </button>
  </h3>
  <div class="store-container-ul-checkbox-section-effect displayNoneUlCheckbox">
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">LEGO® Icons</span>
              <span class="span-number-check">[<!-- -->1<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">LEGO® Super Mario&trade;</span>
              <span class="span-number-check">[<!-- -->4<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
  </div>
</div>
<!-- fine assemblaggio checkbox section -->
<!-- assemblaggio checkbox section -->
<div class="store-container-checkbox-section">
  <h3 class="store-h3-checkbox-section">
    <button class="store-button-checkbox-section">
      <span class="store-slot-content-checkbox-section">
        <span>Interessi</span>
        <svg width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          class="store-icon-checkbox-section">
          <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
        </svg>
      </span>
    </button>
  </h3>
  <div class="store-container-ul-checkbox-section-effect displayNoneUlCheckbox">
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">Gaming</span>
              <span class="span-number-check">[<!-- -->5<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">Videogame</span>
              <span class="span-number-check">[<!-- -->5<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
  </div>
</div>
<!-- fine assemblaggio checkbox section -->
<!-- assemblaggio checkbox section -->
<div class="store-container-checkbox-section">
  <h3 class="store-h3-checkbox-section">
    <button class="store-button-checkbox-section">
      <span class="store-slot-content-checkbox-section">
        <span>Età</span>
        <svg width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          class="store-icon-checkbox-section">
          <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
        </svg>
      </span>
    </button>
  </h3>
  <div class="store-container-ul-checkbox-section-effect displayNoneUlCheckbox">
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">6+</span>
              <span class="span-number-check">[<!-- -->4<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">9+</span>
              <span class="span-number-check">[<!-- -->4<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">18+</span>
              <span class="span-number-check">[<!-- -->1<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
  </div>
</div>
<!-- fine assemblaggio checkbox section -->
<!-- assemblaggio checkbox section -->
<div class="store-container-checkbox-section">
  <h3 class="store-h3-checkbox-section">
    <button class="store-button-checkbox-section">
      <span class="store-slot-content-checkbox-section">
        <span>Disponibilità</span>
        <svg width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          class="store-icon-checkbox-section">
          <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
        </svg>
      </span>
    </button>
  </h3>
  <div class="store-container-ul-checkbox-section-effect displayNoneUlCheckbox">
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">Disponibile ora</span>
              <span class="span-number-check">[<!-- -->5<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
  </div>
</div>
<!-- fine assemblaggio checkbox section -->
<!-- assemblaggio checkbox section -->
<div class="store-container-checkbox-section">
  <h3 class="store-h3-checkbox-section">
    <button class="store-button-checkbox-section">
      <span class="store-slot-content-checkbox-section">
        <span>Numero Di Pezzi</span>
        <svg width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          class="store-icon-checkbox-section">
          <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
        </svg>
      </span>
    </button>
  </h3>
  <div class="store-container-ul-checkbox-section-effect displayNoneUlCheckbox">
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">1-99</span>
              <span class="span-number-check">[<!-- -->1<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor" points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">250-499</span>
              <span class="span-number-check">[<!-- -->2<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">500-999</span>
              <span class="span-number-check">[<!-- -->1<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">2000+</span>
              <span class="span-number-check">[<!-- -->1<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
  </div>
</div>
<!-- fine assemblaggio checkbox section -->
<!-- assemblaggio checkbox section -->
<div class="store-container-checkbox-section">
  <h3 class="store-h3-checkbox-section">
    <button class="store-button-checkbox-section">
      <span class="store-slot-content-checkbox-section">
        <span>In Evidenza</span>
        <svg width="18" height="28" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          class="store-icon-checkbox-section">
          <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
        </svg>
      </span>
    </button>
  </h3>
  <div class="store-container-ul-checkbox-section-effect displayNoneUlCheckbox">
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">Difficile da trovare</span>
              <span class="span-number-check">[<!-- -->1<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
    <!-- assemblaggio atom/store-checkbox -->
    <div class="container-atom-store-checkbox">
      <ul class="list-container-atom-store-checkbox">
        <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor"
                    points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 ">
                  </polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">Presto fuori catalogo</span>
              <span class="span-number-check">[<!-- -->4<!-- -->]</span>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!-- fine assemblaggio -->
  </div>
</div>
<!-- fine assemblaggio checkbox section -->
</div>
</div>
      </div>
    </aside>
    <!-- <script src="/assets/JS/script.js"></script> -->
    <script src="store-checkbox-container.js"></script>
    <script src="/components/atom/atom-store-checkbox/atom-store-checkbox.js"></script>
    <script src="/components/store/store-checkbox-section/store-checkbox-section.js"></script>
  </body>
</html>
