@import url(/assets/CSS/style.css);
/* DIV main container */

.homepage-subscription-container {
  padding: 0px;
  max-width: 100rem;
  position: relative;
  margin: 0px auto;
}

/* Background image properties */
.homepage-subscription-left-content {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}

/* hidden logo settings */
.homepage-subscription-hidden-logo {
  position: absolute;
  left: 0.9375rem;
  bottom: 0.9375rem;
  display: none;
  max-width: 9.375rem;
}

/* Media query for mobile to get the left images and fix the size */
@media (max-width: 601px) {
  .homepage-subscription-left-content {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    inset: 0px;
  }
  .donna-logo {
    content: url("https://www.lego.com/cdn/cs/set/assets/blt00bc37da77ce06a8/Holiday23-Insiders-Teal-Landing-202309-Hero-Standard-Small.jpg?fit=crop&format=webply&quality=80&width=600&height=600&dpr=2");
  }
  .homepage-subscription-hidden-logo {
    display: block;
  }
}

/* Left side content and container */
.homepage-subscription-main-content {
  position: absolute;
  background-color: transparent;
  color: white;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
}

/* Media query to fix the content in mobile */
@media screen and (max-width: 601px) {
  .homepage-subscription-main-content {
    background-color: rgb(0, 131, 129);
    text-align: center;
    padding: 1.25rem 1.875rem;
    top: 100%;
    transform: none;
  }
}

@media screen and (min-width: 601px) {
  .homepage-subscription-main-content {
    max-width: 45%;
    left: 3.75rem;
  }
}

@media screen and (min-width: 901px) {
  .homepage-subscription-main-content {
    max-width: 35%;
  }
}

@media screen and (min-width: 1201px) {
  .homepage-subscription-main-content {
    max-width: 35%;
    left: 6.875rem;
    top: 50%;
  }
}

/* Logo properties*/
.homepage-subscription-main-content img {
  max-height: 3.125rem;
  max-width: 9.375rem;
  margin-bottom: 15px;
}
@media (max-width: 601px) {
  .homepage-subscription-main-content img {
    display: none;
  }
}
/* Property for H2 */
.homepage-subscription-main-content h2 {
  margin-block: 0px;
  font-size: var(--font-size-s5);
  line-height: var(--line-height-s5);
}

/* roperty for p */
.homepage-subscription-main-content p {
  font-size: var(--font-size-s1);
  line-height: var(--line-height-s1);
  margin-top: 0.9375rem;
  margin-bottom: 0;
}

/* Media queries to manage font size on H2&p */
@media (max-width: 1201px) {
  .homepage-subscription-main-content h2 {
    font-size: var(--font-size-s4);
    line-height: var(--line-height-s4);
  }
  .homepage-subscription-main-content p {
    font-size: var(--font-size-s1);
    line-height: var(--line-height-s1);
    margin-top: 0.9375rem;
  }
}
@media (max-width: 901px) {
  .homepage-subscription-main-content h2 {
    font-size: var(--font-size-s2);
    line-height: var(--line-height-s2);
  }
  .homepage-v-main-content p {
    font-size: var(--font-size-sm1);
    line-height: var(--line-height-sm1);
    margin-top: 10px;
  }
}
@media (max-width: 601px) {
  .homepage-subscription-main-content h2 {
    font-size: var(--font-size-s1);
    line-height: var(--line-height-s1);
  }
  .homepage-subscription-main-content p {
    font-size: var(--font-size-sm1);
    line-height: var(--line-height-sm1);
  }
}

/* Buttons DIV */
.homepage-subscription-left-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -0.625rem;
}
@media (max-width: 601px) {
  .homepage-subscription-left-buttons {
    justify-content: center;
  }
}

/* Button properties */
.homepage-subscription-button {
  width: auto;
  /* margin/padding-button */
  margin-top: 1.25rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  padding: 0.625rem 1.125rem;
  /* font button */
  font-size: var(--font-size-s0);
  text-align: center;
  /* color and border */
  border: 1px solid transparent;
  border-radius: 4px;
  border-width: 1px;
  background: var(--white);
  color: var(--black);
  line-height: var(--line-height-s0);
  /* flex-parameters */
  display: flex;
  align-items: center;
}
@media (max-width: 901px) {
  .homepage-subscription-button {
    font-size: var(--font-size-sm1);
    margin-top: 15px;
  }
}

.homepage-subscription-button:hover {
  background-color: var(--black);
  color: var(--white);
}

/* SVG property */
.homepage-subscription-button-svg {
  margin-left: 0.75rem;
}
