<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="homepage-subscription.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="homepage-subscription-container">
      <div class="homepage-subscription-right-content">
        <div class="homepage-subscription-background-holder">
          <img
            class="donna-logo"
            src="https://www.lego.com/cdn/cs/set/assets/blt6e1bdf7637384820/Holiday23-Insiders-Teal-Landing-202309-Hero-Standard-Large.jpg?fit=crop&format=jpg&quality=80&width=1600&height=500&dpr=1"
            alt="donna lego"
          />
        </div>
        <img
          class="homepage-subscription-hidden-logo"
          src="https://www.lego.com/cdn/cs/set/assets/bltb0e2e21c3f1dfc74/insiders-logo-lockup-neg-600w.png?format=png&height=60&dpr=1,
        https://www.lego.com/cdn/cs/set/assets/bltb0e2e21c3f1dfc74/insiders-logo-lockup-neg-600w.png?format=png&height=60&dpr=1.5 1.5x,
        https://www.lego.com/cdn/cs/set/assets/bltb0e2e21c3f1dfc74/insiders-logo-lockup-neg-600w.png?format=png&height=60&dpr=2 2x"
          alt=""
        />
      </div>
      <div class="homepage-subscription-main-content">
        <!-- logo -->
        <img
          src="https://www.lego.com/cdn/cs/set/assets/bltb0e2e21c3f1dfc74/insiders-logo-lockup-neg-600w.png?format=png&height=60&dpr=1,
        https://www.lego.com/cdn/cs/set/assets/bltb0e2e21c3f1dfc74/insiders-logo-lockup-neg-600w.png?format=png&height=60&dpr=1.5 1.5x,
        https://www.lego.com/cdn/cs/set/assets/bltb0e2e21c3f1dfc74/insiders-logo-lockup-neg-600w.png?format=png&height=60&dpr=2 2x"
          alt=""
          srcset=""
        />
        <h2>Diventa un LEGO® Insider</h2>
        <p>
          Ottieni fantastici vantaggi come sconti, accesso in anteprima,
          community e altro ancora
        </p>
        <div class="homepage-subscription-left-buttons">
          <button class="homepage-subscription-button">
            Iscriviti ora
            <svg
              width="16"
              height="16"
              viewBox="0 0 18 28"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              class="homepage-subscription-button-svg"
            >
              <path
                d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <button class="homepage-subscription-button">
            Accedi
            <svg
              width="16"
              height="16"
              viewBox="0 0 18 28"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              class="homepage-subscription-button-svg"
            >
              <path
                d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <script src="/assets/JS/script.js"></script>
  </body>
</html>
