<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/common.css" />
    <link rel="stylesheet" href="homepage-card.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="atom-homepage-card">
      <img
        src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
        alt="main image of the card"
        class="atom-homepage-card-img"
      />
      <div class="atom-homepage-card-content">
        <h3 class="atom-homepage-card-title">Albero di Natale</h3>
        <div class="atom-homepage-card-icons">
          <img
            src="/assets/icons/star.svg"
            alt="stellina gialla"
            width="15px"
          />
          <img
            src="/assets/icons/star.svg"
            alt="stellina gialla"
            width="15px"
          />
          <img
            src="/assets/icons/star.svg"
            alt="stellina gialla"
            width="15px"
          />
          <img
            src="/assets/icons/star.svg"
            alt="stellina gialla"
            width="15px"
          />
          <img
            src="/assets/icons/star.svg"
            alt="stellina gialla"
            width="15px"
          />
        </div>
        <p class="atom-homepage-card-price">44,99€</p>
        <!--       SPAZIO BOTTONE         -->

        <button class="standard-button standard-button-square button-red">
          <div class="spinner-container hidden">
            <svg class="spinner" viewBox="0 0 66 66">
              <circle
                cx="33"
                cy="33"
                r="20"
                fill="none"
                stroke="#000000"
                class="spinner-circle"
              ></circle>
            </svg>
          </div>
          <div class="testo">Su ordinazione</div>
        </button>
      </div>
    </div>
    <!--     <script src="index.js"></script>
 -->
  </body>
</html>
