<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-total-carousel">
      <h2 class="header-carousel">Consigliati per te!</h2>
      <div class="carousel-container">
        <div class="carousel">
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 1</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 2</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 3</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 4</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 5</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 6</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 7</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 8</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 9</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 10</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 12</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 13</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 14</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 15</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-card">
            <div class="img-container-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
                alt="main image of the card"
                class="atom-homepage-card-img"
              />
            </div>

            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale 16</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="container-content-standard-button">
                  <div class="testo">Su ordinazione</div>
                </div>
              </button>
            </div>
          </div>
        </div>

        <button class="prev-button">
          <svg viewBox="0 0 40 40" class="next round-butt">
            <g fill="none" fill-rule="evenodd">
              <rect opacity="1" width="38" height="38" rx="20"></rect>
              <path
                d="M16.42 9L29 20 16.42 31 15 29.653 26.042 20 15 10.347z"
                class="next"
              ></path>
            </g>
          </svg>
        </button>
        <button class="next-button">
          <svg viewBox="0 0 40 40" class="next round-butt">
            <g fill="none" fill-rule="evenodd">
              <rect opacity="1"></rect>
              <path
                d="M16.42 9L29 20 16.42 31 15 29.653 26.042 20 15 10.347z"
                class="next"
              ></path>
            </g>
          </svg>
        </button>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
