@import url(/components/common.css);

.product-attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16%;
    text-align: center;
    max-width: 11.5rem;
    border-left: 1px solid rgb(224, 224, 224);
    border-left: none;
    /*da togliere, serve solo per la prima card*/
}

.slot-icon-container {
    height: var(--font-size-s5);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: var(--icon-sizing-4xs);
}

.icon-attributes-product {
    color: rgb(117, 117, 117);
}

.slot-info-container {
        display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            margin: var(--icon-sizing-3xs) 0px;
}

.info-techniques-product{
        color: rgb(44, 44, 44);
            font-size: var(--font-size-s3);
            line-height: var(--line-height-s3);
            font-weight: var(--font-weight-semi-bold);
            text-transform: inherit;
}

.name-info-product{
color: rgb(44, 44, 44);
font-size: var(--font-size-sm2);
line-height: var(--line-height-sm2);
font-weight: var(--font-weight-semi-bold);
text-transform: inherit;
}