<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="homepage-catalog-notice.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="homepage-catalog-notice-container">
      <div class="homepage-catalog-notice-left-content">
        <div class="homepage-catalog-notice-background-holder">
          <img
            class="capitano-img"
            src="https://www.lego.com/cdn/cs/set/assets/bltd5be6896fe3a6c7f/Holiday23-RetiringSoon-Landing-202310-Hero-Standard-Large.jpg?fit=crop&format=jpg&quality=80&width=1600&height=500&dpr=1"
            alt="capitano-img"
          />
        </div>
      </div>
      <div class="homepage-catalog-notice-main-content">
        <h2>Presto fuori catalogo</h2>
        <p>Non lasciarti sfuggire questi set.</p>
        <div class="homepage-catalog-notice-left-buttons">
          <button class="homepage-catalog-notice-button">
            Compra ora
            <svg
              width="16"
              height="16"
              viewBox="0 0 18 28"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              class="homepage-catalog-notice-button-svg"
            >
              <path
                d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <button class="homepage-catalog-notice-button">
            Fai acquisti per le feste
            <svg
              width="16"
              height="16"
              viewBox="0 0 18 28"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              class="homepage-catalog-notice-button-svg"
            >
              <path
                d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <script src="/assets/JS/script.js"></script>
  </body>
</html>
