/* The component gets resized by the Div that contains the field, avg padding for 900px is : 0px 1.25rem 1.875rem
 */

.fake-background {
  background-color: lightgray;
  padding: 0px 1.25rem 1.875rem;
}
.generic-field-container {
  padding-top: 10px;
  display: flex;
  width: 100%;
  flex: 1 1 0%;
}
.generic-field-label-wrap {
  position: relative;
  width: 100%;
}
.generic-field-label {
  appearance: none;
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.generic-field-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  background: rgb(255, 255, 255);
  color: rgb(44, 44, 44);
  height: 2rem;
  padding: 18px 20px 0px 18px;
  border: 1px solid rgb(224, 224, 224);
}
.generic-field-input:focus {
  outline: rgb(72, 194, 255) solid 1px;
  box-shadow: rgb(72, 194, 255) 0px 0px 12px;
}
.generic-field-text {
  appearance: none;
  display: block;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  transform-origin: left top;
  transition: all 0.1s ease-in-out 0s;
  transform: translate(0px, 0px);
  color: rgb(117, 117, 117);
  font-size: 1em;
  white-space: nowrap;
  pointer-events: none;
}

.generic-field-input:focus + .generic-field-text {
  transform: translate(1px, -0.4375rem);
  font-size: 0.8em;
  transition: all 0.1s ease-in-out;
  top: 1rem;
}
/* Button stuff */

.generic-field-button-wrapper {
  transform: translateX(-1px);
  margin-right: -1px;
  border-radius: 0px 0.3125rem 0.3125rem 0px;
  box-shadow: none;
  max-height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  border-radius: 0px 0.3125rem 0.3125rem 0px;
  background-color: var(--orange);
}
.generic-field-button {
  padding: 0.9375rem;
}
.generic-field-button-svg {
  line-height: 0;
  height: 16px;
  width: 16px;
}
