@import url(/components/common.css);

.atom-product-tag{
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: var(--font-size-sm1);
}
.atom-product-tag-yellow{
  display: inline-block;
  background-color: var(--header);
  padding: 3.040px 10px;
  margin: 0 4.320px 5px 0;
}
.atom-product-tag-red{
  display: inline-block;
  padding: 0 10px;
  background-color: var(--red);
  color: var(--white);
  font-weight: var(--font-weight-bold);
}
