<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="tag.css">
    <title>Document</title>
  </head>
  <body>
    <div class="atom-product-tag">
      <span class="atom-product-tag-yellow">Ultima occasione</span>
      <span class="atom-product-tag-red">-30%</span>
    </div>
    <script src="index.js"></script>
  </body>
</html>
