<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="atom-header.css" />
  <title>Document</title>
</head>

<body>
  <div class="container-primary-atom-header">
    <div class="upper-container-atom-header">
      <div class="container-button-header-area-giochi">
        <div class="button-header-area-giochi">
          <a href="" class=""><img src="long arrow.svg" class="arrow-header"></img>Area giochi</a>
        </div>
      </div>
      <div class="carousel-atom-header">
        <img src="arrow.svg" class="arrow-previous-atom-header all-button-carousel"></img>
        <div class="carousel-element-atom-header" id="first-element-atom-header">
          <p class="content-element-carousel-atom-header">
            Ottieni un set Tributo a Gallileo Gallilei LEGO© Ideas
          </p>
          <a class="atom-header-scopri-di-più" href="">Scopri di più</a>
        </div>
        <div class="carousel-element-atom-header" id="second-element-atom-header">
          <p class="content-element-carousel-atom-header">
            Pack Add-On - Natale, 1/11-16/11*
          </p>
          <a class="atom-header-scopri-di-più" href="">Scopri di più</a>
        </div>
        <div class="carousel-element-atom-header" id="third-element-atom-header">
          <p class="content-element-carousel-atom-header">
            Consegna GRATUITA sugli ordini superiori a 55 €!*
          </p>
          <a class="atom-header-scopri-di-più" href="">Scopri di più</a>
        </div>
        <img src="arrow.svg" class="arrow-next-atom-header all-button-carousel"></img>
      </div>
      <div class="container-icon-atom-header">
        <button class="lego-head-button-icon">
          <img src="lego_head.svg" class="lego-head-icon"></img>
          <span>Account</span>
        </button>
        <span class="separator"></span>
        <a class="lego-block-button-icon"><img src="blue block.svg" data-test="icon-user-insiders-out" alt=""
            class="lego-blue-block-icon">
          <span>Iscriviti al programma LEGO® Insiders</span></a>
      </div>
      <button aria-label="Close" data-test="mobile-global-banner-close-btn" class="delete-button-x"><svg
          xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" aria-hidden="true"
          class="Icon__StyledSVG-lm07h6-0 dHKzVM">
          <path
            d="M10.377 8.142l5.953-5.954-2.234-2.234-5.954 5.954L2.188-.046-.046 2.188l5.954 5.954-5.954 5.954 2.234 2.234 5.954-5.953 5.954 5.953 2.234-2.234z"
            fill="currentColor" fill-rule="evenodd"></path>
        </svg></button>
    </div>
    <div class="lower-container-atom-header">
      <div class="hamb-menu-container">
        <span class="hamb-title-header">Menu</span>

      </div>
      <div class="container-logo-e-ul">
        <img src="brand-lego.svg" class="lego-logo-header" alt="lego-logo">
        <ul class="slot-button-container-lower-header">
          <li class="button-container-lower-header">
            <button class="button-lower-header" id="button-acquista-hamb">Acquista</button>
          </li>
          <li class="button-container-lower-header">
            <button class="button-lower-header" id="button-scopri-hamb">Scopri</button>
          </li>
          <li class="button-container-lower-header">
            <button class="button-lower-header" id="button-aiuto-hamb">Aiuto</button>
          </li>
          <li class="button-container-lower-header">
            <a href="" class="button-xmas-header" id="button-xmas-hamb">
              <span>Natale</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container-icon-lower-header">
        <button class="lens-button-icon-lower-header">
          <img class="lens-icon-lower-header" src="lens.svg" alt="lens">
        </button>
        <button class="heart-button-icon-lower-header">
          <img class="heart-icon-lower-header" src="heart.svg" alt="heart">
        </button>
        <a class="bag-button-icon-lower-header" href="">
          <img class="bag-icon-lower-header" src="bag.svg" alt="bag">
          <span>(0)</span></a>
      </div>
    </div>
  </div>
  <script src="atom-header.js"></script>
  <script src="hamb-menu.js"></script>
</body>

</html>