.container-primary-atom-header {
  width: 100%;
}

/*/////////////////////////////////////regole css per la parte superiore dell'header///////////////////////////*/

.upper-container-atom-header {
  width: auto;
  max-width: 100rem;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  padding: 0px var(--line-height-sm2);
  position: relative;
  margin: auto;
}

/*///////////////////////////////////////// bottone area giochi //////////////////////////////////////*/
.container-button-header-area-giochi {
  flex: 0 1 33.3333%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: var(--icon-sizing-xs);
  margin-bottom: var(--icon-sizing-xs);
}

.button-header-area-giochi {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  border: none;
  background: rgb(171, 217, 255);
  font-size: var(--font-size-sm2);
  line-height: var(--line-height-s0);
  text-transform: uppercase;
  padding: 0px var(--icon-sizing-3xs);
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
}

.button-header-area-giochi a {
  color: rgb(0, 0, 0);
}

.button-header-area-giochi:hover {
  background-color: white;
}

.arrow-header {
  width: 15px;
  height: 16px;
  margin-bottom: 5%;
  margin-right: var(--icon-sizing-3xs);
  transform: rotate(180deg);
}

@media screen and (max-width: 901px) {
  .container-button-header-area-giochi,
  .button-header-area-giochi {
    display: none;
  }
}

/*/////////////////////////////////////////////////mini carosello centrale /////////////////////////////////*/

.carousel-atom-header {
  height: 3.1875rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .carousel-atom-header {
    width: 65%;
  }
}

@media screen and (min-width: 1201px) {
  .carousel-atom-header {
    max-width: 34.6875rem;
  }
}

@media screen and (min-width: 901px) {
  .carousel-atom-header {
    margin: 0px auto;
    justify-content: center;
  }
}

@media screen and (min-width: 601px) {
  .carousel-atom-header {
    margin: 0px auto;
    justify-content: space-evenly;
    max-width: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .carousel-atom-header {
    padding: 0px 3.4375rem;
  }
}

.all-button-carousel {
  width: 18px;
  height: 18px;
  border: 0;
  padding: 0.75rem;
  margin-top: 5px;
  vertical-align: middle;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  color: rgb(44, 44, 44);
  padding: 0.75rem;
  z-index: 1;
}

.arrow-previous-atom-header {
  transition: transform 0.1s linear 0s;
  display: block;
  flex: 0 0 auto;
  transform: rotate(180deg);
}

.arrow-next-atom-header {
  transition: transform 0.1s linear 0s;
  display: block;
  flex: 0 0 auto;
}

.carousel-element-atom-header {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
  transform: translateX(0%);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

@media screen and (max-width: 601px) {
  .carousel-element-atom-header {
    flex-shrink: 1;
  }
}

.carousel-element-atom-header p {
  pointer-events: none;
  margin: 0px;
  text-align: center;
  z-index: 2;
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 1.1875rem;
  font-weight: 400;
  text-transform: inherit;
}

.carousel-element-atom-header a {
  pointer-events: all;
  font-size: 0.75rem;
  margin-left: 1.25rem;
  white-space: nowrap;
}

.carousel-element-atom-header a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 901px) {
  .carousel-element-atom-header p {
    margin-left: 0.75rem;
  }
}

/*/////////////////////////////////////////////////zona finale con icone e separatore /////////////////////////*/

.container-icon-atom-header {
  flex: 0 1 33.3333%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.lego-head-button-icon {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.75rem;
  line-height: 1.1875rem;
  border: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}

@media screen and (max-width: 1260px) {
  .lego-head-button-icon img {
    margin: 0;
  }
}

.lego-head-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.625rem;
}

.separator {
  margin: 0px 1.25rem;
  width: 0.0625rem;
  /*non cambiare, non è nelle root*/
  height: var(--icon-sizing-ms);
  background: rgb(117, 117, 117);
}

.lego-block-button-icon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  font-size: 0.75rem;
  line-height: 1.1875rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 1260px) {
  .lego-head-button-icon span,
  .lego-block-button-icon span {
    display: none;
  }
}

.lego-blue-block-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
}

@media screen and (max-width: 901px) {
  .container-icon-atom-header {
    display: none;
  }
}

/*///////////////////////////// x per togliere l'upper header ///////////////////////////////////////////*/

.delete-button-x {
  display: none;
}

@media screen and (max-width: 901px) {
  .delete-button-x {
    display: block;
    padding: 15px;
  }
}

/* ///////////////////////// regole per la parte inferiore dell'header ///////////////////////////////////*/

.yellow-background {
  background-color: var(--header);
}

.lower-container-atom-header {
  height: 4.6875rem;
  margin: 0px auto;
  padding: 0px 1.875rem;
  width: auto;
  max-width: 100rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  display: flex;
}

@media screen and (max-width: 901px) {
  .lower-container-atom-header {
    height: 3.6875rem;
    background-color: white;
    border-bottom: 2px solid rgb(255, 207, 0);
  }
}

.container-logo-e-ul {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 6;
}

.lego-logo-header {
    width: 55px;
    height: 55px;
    margin-right: 4.0625rem;
    cursor: pointer;
    z-index: 6;
}

.slot-button-container-lower-header {
  height: 3.4375rem;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.button-container-lower-header {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 3.125rem;
  z-index: 4;
}

.button-container-lower-header:last-child {
  margin-right: 0px;
}

.button-lower-header {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;
    border-bottom: 3px solid transparent;
    z-index: 6;
}

.button-lower-header:hover {
  text-decoration: underline 2.5px solid black;
}

.button-xmas-header {
  text-transform: uppercase;
  padding: 0.3125rem 1.25rem;
  border-radius: 4px;
  color: rgb(208, 2, 27);
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.button-xmas-header span {
    z-index: 6;
}

.button-xmas-header:hover {
  color: white;
  background-color: black;
}

.container-icon-lower-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.lens-button-icon-lower-header {
  margin-right: 1.875rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}

.heart-button-icon-lower-header {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  margin-right: 1.25rem;
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 1.1875rem;
}

.bag-button-icon-lower-header {
  margin-right: 1.25rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 1.1875rem;
  cursor: pointer;
}

.bag-icon-lower-header {
  margin-right: 0.3125rem;
}

/*///////////////////////////////// regola per hamburger menu ///////////////////////////////////////////////*/

.hamb-menu-container {
  display: none;
}

.hamb-title-header {
  display: none;
}

@media screen and (max-width:901px) {
    .button-container-lower-header {
        display: none;
    }

    .lego-logo-header {
        margin-left: 55px;
        width: 40px;
        height: 40px;
    }

    .hamb-menu-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 4rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        z-index: 4;
        margin-left: 10px;
    }

    .hamb-title-header {
        display: flex;
    }

    .general-container-hamb-menu {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: hsl(0, 0%, 0%, 0.5);
    }

    .container-title-e-x-hamb-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.5rem;
        border-bottom: 2px solid rgb(255, 207, 0);
    }

    .title-hamb-menu {
        padding: 5px;
        border: none;
    }

    .container-delete-button-x-hamb-menu {
        display:flex;
        height: 100%;
        border-left: 1px solid rgb(224, 224, 224);
    }

    .delete-button-x-hamb-menu {
        padding-left:20px;
        padding-right: 20px;
    }

    .aside-nav-hamb-menu {
        z-index: 6;
        background: rgb(255, 255, 255);
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        max-width: 23.4375rem;
        animation: 0.3s ease 0s 1 normal forwards running kloRKO;

    }

    .aside-nav-hamb-menu ul {
        padding: 0;
        margin: 0;
    }

    .aside-nav-hamb-menu ul li {
        list-style: none;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        border-bottom: 1px solid rgb(224, 224, 224);
    }


    .aside-nav-hamb-menu div:last-child {
        border-bottom: none;
    }

    .button-hamb-menu-desideri,
    .button-hamb-menu-mio-carrello,
    .button-hamb-menu-italia {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
        font-size: 0.75rem;
        line-height: 1.1875rem;
        color: rgb(0, 0, 0);
        font-weight: 500;
        cursor: pointer;

    }


    .icon-hamb-menu-italia {
        width: 20px;
        height: 20px;
        margin-right: 0.625rem;
    }
}

/*/////////////////////////////regola per scomparsa elemento del carosello //////////////////////////////////*/
.not-visible-element-atom-header {
  display: none;
}

/* /////////////////////////////// regola per transizione carosello ///////////////////////////////////////////*/

.carousel-transition-header {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
