<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="product-card.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
      <body>
        <div class="product-card-container">
          <ul class="product-card-list">
            <li>
              <a href="#">Home</a
              ><svg width="18" height="28">
                <path
                  d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                  fill="currentColor"
                ></path>
              </svg>
            </li>
            <li>
              <a href="#">LEGO<sup>&reg</sup> icons</a
              ><svg width="18" height="28">
                <path
                  d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                  fill="currentColor"
                ></path>
              </svg>
            </li>
            <li>Atari<sup>&reg</sup> 2600</li>
          </ul>

          <div class="product-card">
            <div class="product-card-left">
              <div class="product-card-img">
                <!-- carosello scorrevole
              !DA CAPIRE PERCHè C'è IL MARGINE -->
                <ul class="product-card-carrosel">
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/bltfe23f93b1245c20f/10306_alt1.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/bltfe23f93b1245c20f/10306_alt1.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/bltfe23f93b1245c20f/10306_alt1.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/bltfe23f93b1245c20f/10306_alt1.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blta04f91a122ac32d9/10306_v1_thumbnail.jpg?fit=bounds&format=webply&quality=80&width=170&height=170&dpr=1,
https://www.lego.com/cdn/cs/set/assets/blta04f91a122ac32d9/10306_v1_thumbnail.jpg?fit=bounds&format=webply&quality=80&width=170&height=170&dpr=1.5 1.5x,
https://www.lego.com/cdn/cs/set/assets/blta04f91a122ac32d9/10306_v1_thumbnail.jpg?fit=bounds&format=webply&quality=80&width=170&height=170&dpr=2 2x"
                        alt=""
                      />
                      <div class="product-card-carrosel-play">
                        <svg>
                          <path
                            d="M9.5 32.004a1.6 1.6 0 0 1-.79-.22 1.52 1.52 0 0 1-.71-1.28v-21a1.49 1.49 0 0 1 2.17-1.34l21 10.5a1.5 1.5 0 0 1 0 2.68l-21 10.5a1.441 1.441 0 0 1-.67.16Z"
                          ></path>
                        </svg>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/bltd2f05a06e76ab754/10306_alt2.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/bltd2f05a06e76ab754/10306_alt2.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/bltd2f05a06e76ab754/10306_alt2.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/bltd2f05a06e76ab754/10306_alt2.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt4a089667d30278ee/10306_alt3.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt4a089667d30278ee/10306_alt3.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt4a089667d30278ee/10306_alt3.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt4a089667d30278ee/10306_alt3.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt29196a69744d1748/10306_alt4.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt29196a69744d1748/10306_alt4.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt29196a69744d1748/10306_alt4.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt29196a69744d1748/10306_alt4.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/bltee0c1444c9bd2e55/10306_alt5.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/bltee0c1444c9bd2e55/10306_alt5.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/bltee0c1444c9bd2e55/10306_alt5.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/bltee0c1444c9bd2e55/10306_alt5.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt16f1a35be8f7d32b/10306_alt6.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt16f1a35be8f7d32b/10306_alt6.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt16f1a35be8f7d32b/10306_alt6.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt16f1a35be8f7d32b/10306_alt6.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/bltec7e07e2bf2eb816/10306_alt7.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/bltec7e07e2bf2eb816/10306_alt7.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/bltec7e07e2bf2eb816/10306_alt7.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/bltec7e07e2bf2eb816/10306_alt7.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt1425773143cf23a9/10306_alt8.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt1425773143cf23a9/10306_alt8.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt1425773143cf23a9/10306_alt8.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt1425773143cf23a9/10306_alt8.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt0cab7d53c083b522/10306_alt9.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt0cab7d53c083b522/10306_alt9.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt0cab7d53c083b522/10306_alt9.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt0cab7d53c083b522/10306_alt9.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt3e98d6525f1a7632/10306_alt10.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt3e98d6525f1a7632/10306_alt10.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt3e98d6525f1a7632/10306_alt10.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt3e98d6525f1a7632/10306_alt10.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt1db31dc6ba606af7/10306_alt11.png?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt1db31dc6ba606af7/10306_alt11.png?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt1db31dc6ba606af7/10306_alt11.png?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt1db31dc6ba606af7/10306_alt11.png?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt15bf3af71e9e68d6/10306_alt15.jpg?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt15bf3af71e9e68d6/10306_alt15.jpg?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt15bf3af71e9e68d6/10306_alt15.jpg?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt15bf3af71e9e68d6/10306_alt15.jpg?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/bltd960c0d939a51bc3/10306_alt12.jpg?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/bltd960c0d939a51bc3/10306_alt12.jpg?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/bltd960c0d939a51bc3/10306_alt12.jpg?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/bltd960c0d939a51bc3/10306_alt12.jpg?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt0df0249d83ef31c5/10306_alt13.jpg?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt0df0249d83ef31c5/10306_alt13.jpg?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt0df0249d83ef31c5/10306_alt13.jpg?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt0df0249d83ef31c5/10306_alt13.jpg?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/bltae72eec5c8d2ed50/10306_alt14.jpg?format=webply&fit=bounds&quality=75&width=170&height=170&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/bltae72eec5c8d2ed50/10306_alt14.jpg?format=webply&fit=bounds&quality=60&width=170&height=170&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/bltae72eec5c8d2ed50/10306_alt14.jpg?format=webply&fit=bounds&quality=55&width=170&height=170&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/bltae72eec5c8d2ed50/10306_alt14.jpg?format=webply&fit=bounds&quality=70&width=170&height=170&dpr=1.5 1.5x"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <button class="product-card-carrosel-img">
                      <img
                        src="https://www.lego.com/cdn/cs/set/assets/blt2fd20c67e1437598/10306_v2_thumbnail.jpg?fit=bounds&format=webply&quality=80&width=170&height=170&dpr=1,
https://www.lego.com/cdn/cs/set/assets/blt2fd20c67e1437598/10306_v2_thumbnail.jpg?fit=bounds&format=webply&quality=80&width=170&height=170&dpr=1.5 1.5x,
https://www.lego.com/cdn/cs/set/assets/blt2fd20c67e1437598/10306_v2_thumbnail.jpg?fit=bounds&format=webply&quality=80&width=170&height=170&dpr=2 2x"
                        alt=""
                      />
                    </button>
                  </li>
                </ul>

                <div class="product-card-swiper">
                  <div class="product-card-swiper-button">
                    <button>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="currentColor"><path d="M33 18H23c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h10c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1Zm-16 0H7c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h10c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1Zm16 16H23c-.55 0-1-.45-1-1V23c0-.55.45-1 1-1h10c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1Zm-16 0H7c-.55 0-1-.45-1-1V23c0-.55.45-1 1-1h10c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1Z"></path></svg>
                      <span>Visualizza tutti</span>
                    </button>
                  </div>

                  <div class="product-card-swiper-counter">
                    <span>
                      1
                      <span>/</span>
                      18
                    </span>
                  </div>
                  <!-- Slider main container -->
                  <div class="mySwiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <img
                          src="https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=75&width=528&height=528&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=60&width=528&height=528&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=55&width=528&height=528&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=70&width=528&height=528&dpr=1.5 1.5x"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=75&width=528&height=528&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=60&width=528&height=528&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=55&width=528&height=528&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=70&width=528&height=528&dpr=1.5 1.5x"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=75&width=528&height=528&dpr=1 1x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=60&width=528&height=528&dpr=2 2x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=55&width=528&height=528&dpr=3 3x, https://www.lego.com/cdn/cs/set/assets/blt10c72e2ab2785ea4/10306.png?format=webply&fit=bounds&quality=70&width=528&height=528&dpr=1.5 1.5x"
                          alt=""
                        />
                      </div>
                      ...
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div>
                <div class="product-card-img-display">
                  <span class="product-card-img-number"></span>
                </div>
              </div>
              <div class="product-card-attributes"></div>
            </div>
            <div class="product-card-right"></div>
          </div>
        </div>
      </body>
    </html>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="product-card.js"></script>
  </body>
</html>
