<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="newHomepage-card2.css">
    <script src="newHomepage-card2.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="newCategory">
      <ul class="principalCard">
        <li class="newArticle">
          <!-- USATE A HREF IN MODO DA RENDERE L'IMMAGINE UTILIZZABILE COME COLLEGAMENTO WEB -->
          <a href="">
            <img 
            src="https://www.lego.com/cdn/cs/set/assets/blt53d22b86a957db43/Holiday23-New-Landing-202309-Advanced-Quicklink.png?fit=crop&amp;format=png&amp;width=154&amp;height=218&amp;dpr=1"
            alt=""
            />
            <!-- DIV CONTENENTE LA SCRITTA "NOVITA" -->
            <div aria-hidden="false" class="markup-container">
              <!-- SPAN CONTENENTE LA SCRITTA "NOVITA" -->
              <span data-test="markup" class="markup">Novità</span>
            </div>
          </a>
        </li>
        <li class="newArticle">
          <!-- USATE A HREF IN MODO DA RENDERE L'IMMAGINE UTILIZZABILE COME COLLEGAMENTO WEB -->
          <a href="">
            <img 
            src="https://www.lego.com/cdn/cs/set/assets/blt5150e4271bc221c1/Holiday23-Exclusives-Landing-202309-Advanced-Quicklink.png?fit=crop&amp;format=png&amp;width=154&amp;height=218&amp;dpr=1"
            alt=""
            />

            <!-- DIV CONTENENTE LA SCRITTA "NOVITA" -->
            <div aria-hidden="false" class="markup-container">
              <!-- SPAN CONTENENTE LA SCRITTA "NOVITA" -->
              <span data-test="markup" class="markup">Set Esclusivi</span>
            </div>
          </a>
        </li>
        <li class="newArticle">
          <!-- USATE A HREF IN MODO DA RENDERE L'IMMAGINE UTILIZZABILE COME COLLEGAMENTO WEB -->
          <a href="">
            <img 
            src="https://www.lego.com/cdn/cs/set/assets/blta7f711190f303da2/Holiday23-Sale-Landing-202309-Advanced-Quicklink.png?fit=crop&amp;format=png&amp;width=154&amp;height=218&amp;dpr=1"
            alt="" 
            />

            <!-- DIV CONTENENTE LA SCRITTA "NOVITA" -->
            <div aria-hidden="false" class="markup-container">
              <!-- SPAN CONTENENTE LA SCRITTA "NOVITA" -->
              <span data-test="markup" class="markup">Offerte</span>
            </div>
          </a>
        </li>
        <li class="newArticle">
          <!-- USATE A HREF IN MODO DA RENDERE L'IMMAGINE UTILIZZABILE COME COLLEGAMENTO WEB -->
          <a href="">
            <img
            src="https://www.lego.com/cdn/cs/set/assets/blt29480b047688ce27/Holiday23-BestSellers-Landing-202310-Advanced-Quicklink-V02.png?fit=crop&amp;format=png&amp;width=154&amp;height=218&amp;dpr=1"
            alt="" 
            />

            <!-- DIV CONTENENTE LA SCRITTA "NOVITA" -->
            <div aria-hidden="false" class="markup-container">
              <!-- SPAN CONTENENTE LA SCRITTA "NOVITA" -->
              <span data-test="markup" class="markup">I più venduti</span>
            </div>
          </a>
        </li>
        <li class="newArticle">
          <!-- USATE A HREF IN MODO DA RENDERE L'IMMAGINE UTILIZZABILE COME COLLEGAMENTO WEB -->
          <a href="">
            <img
            src="https://www.lego.com/cdn/cs/set/assets/blt8a79fb7b73b20124/Holiday23-ADULTS-Landing-202309-Advanced-Quicklink.png?fit=crop&amp;format=png&amp;width=154&amp;height=218&amp;dpr=1"
            alt=""
            />

            <!-- DIV CONTENENTE LA SCRITTA "NOVITA" -->
            <div aria-hidden="false" class="markup-container">
              <!-- SPAN CONTENENTE LA SCRITTA "NOVITA" -->
              <span data-test="markup" class="markup">Per gli adulti</span>
            </div>
          </a>
        </li>
        <li class="newArticle">
          <!-- USATE A HREF IN MODO DA RENDERE L'IMMAGINE UTILIZZABILE COME COLLEGAMENTO WEB -->
          <a href="">
            <img
            src="https://www.lego.com/cdn/cs/set/assets/blta7ccf1c20818b771/Holiday23-Insiders-Landing-202309-Advanced-Quicklink.png?fit=crop&amp;format=png&amp;width=154&amp;height=218&amp;dpr=1"
            alt=""
            />

            <!-- DIV CONTENENTE LA SCRITTA "NOVITA" -->
            <div aria-hidden="false" class="markup-container">
              <!-- SPAN CONTENENTE LA SCRITTA "NOVITA" -->
              <span data-test="markup" class="markup">LEGO® Insiders</span>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <script src="index.js"></script>
  </body>
</html>
