<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/common.css" />
    <link rel="stylesheet" href="design-system-page.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="div-container">
      <div class="div-container-col1">
        <div class="logo-div">
          <div class="logo-div-title"><h2>LOGOS</h2></div>
          <hr />
          <div class="logo-div-container">
            <div><h3>PRIMARY</h3></div>
            <div class="logo-div-img">
              <img
                src="https://assets.lego.com/logos/v4.5.0/brand-lego.svg"
                alt="logo lego"
                width="125px"
              />
            </div>
          </div>
        </div>
        <div class="container-color-section">
          <h2 class="header-color-section">BRAND COLORS</h2>
          <div class="primary-colors">
            <h3>PRIMARY</h3>
            <div class="colors">
              <div class="color yellow"></div>
              <h4>Yellow</h4>
              <p>rgb(255, 207, 0)</p>
              <p>Header</p>
            </div>
            <div class="colors">
              <div class="color dark-blue"></div>
              <h4>Dark-blue</h4>
              <p>rgb(32, 29, 72)</p>
              <p>Footer</p>
            </div>
            <div class="colors">
              <div class="color water-green"></div>
              <h4>Water-green</h4>
              <p>rgb(37, 129, 128)</p>
              <p>Main Homepage</p>
            </div>
            <div class="colors">
              <div class="color red"></div>
              <h4>Red</h4>
              <p>rgb(120, 27, 29)</p>
              <p>Main Homepage</p>
            </div>
          </div>
          <div class="secondary-colors">
            <h3>SECONDARY</h3>
            <div class="colors">
              <div class="color orange"></div>
              <h4>Orange</h4>
              <p>rgb(255, 207, 0)</p>
              <p>Button</p>
            </div>
            <div class="colors">
              <div class="color water-green-button"></div>
              <h4>Dark-Water</h4>
              <p>rgb(255, 207, 0)</p>
              <p>Button</p>
            </div>
            <div class="colors">
              <div class="color red-button"></div>
              <h4>Light-Red</h4>
              <p>rgb(255, 207, 0)</p>
              <p>Button</p>
            </div>
          </div>
        </div>
        <div class="button-style-div">
          <div class="button-style-div-title"><h2>BUTTON STYLES</h2></div>
          <hr />
          <div class="button-style-div-container1">
            <div>
              <div class="standard-button-grid">
                <h4>STANDARD BUTTON</h4>
                <button
                  class="standard-button standard-button-round button-orange"
                >
                  <div class="spinner-container hidden">
                    <svg class="spinner" viewBox="0 0 66 66">
                      <circle
                        cx="33"
                        cy="33"
                        r="20"
                        fill="none"
                        stroke="#000000"
                        class="spinner-circle"
                      ></circle>
                    </svg>
                  </div>
                  <div class="container-content-standard-button">
                    <img class="bag-icon" src="bag.svg" alt="bag-icon" />
                    <div class="testo">Aggiungi al Carrello</div>
                  </div>
                </button>
              </div>
              <!-- SECOND BUTTON STARTS HERE -->
              <div class="standard-button-grid">
                <h4>STANDARD BUTTON SQUARE</h4>
                <button
                  class="standard-button standard-button-square button-red"
                >
                  <div class="spinner-container hidden">
                    <svg class="spinner" viewBox="0 0 66 66">
                      <circle
                        cx="33"
                        cy="33"
                        r="20"
                        fill="none"
                        stroke="#000000"
                        class="spinner-circle"
                      ></circle>
                    </svg>
                  </div>
                  <div class="container-content-standard-button">
                    <div class="testo">Su ordinazione</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="button-style-div-container2">
            <!-- EXTRA BUTTONS START HERE -->
            <div class="product-button-grid">
              <div class="atom-product-tag">
                <h4>PRODUCT BUTTON</h4>
                <span class="atom-product-tag-yellow">Ultima occasione</span>
                <h4>PRODUCT BUTTON</h4>
                <span class="atom-product-tag-red">-30%</span>
                <h4>PRODUCT BUTTON</h4>

                <div class="container">
                  <!-- CRRAEZIONE INFO BUTTON -->
                  <button class="info-button" onclick="toggleVignetta()">
                    <span>i</span>
                  </button>

                  <!-- CREAZIONE DIV "VIGNETTA" CHE CONTIENE IL DIV DEL TITOLO E DEL TESTO DELLA VIGNETTA-->
                  <div id="vignetta" class="vignetta">
                    <div class="textContainer">
                      <div class="title"><p class="description">Limite</p></div>
                      <div class="exit"></div>
                      <div class="text">
                        <p>
                          È previsto un limite per gli acquisti per ogni
                          famiglia per garantire un'adeguata disponibilità per
                          tutti i clienti. Se è già stato raggiunto tale limite
                          con gli ordini precedenti, l'ordine potrebbe essere
                          annullato.
                        </p>
                      </div>
                    </div>

                    <!-- CRAZIONE BUTTON CONTENENTE SVG PER LA CHIUSURA DELLA VIGNETTA -->
                    <button class="exit" onclick="closeVignetta()">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="17"
                        height="17"
                        viewBox="0 0 17 17"
                        aria-hidden="true"
                        class="exitButton"
                      >
                        <path
                          d="M10.377 8.142l5.953-5.954-2.234-2.234-5.954 5.954L2.188-.046-.046 2.188l5.954 5.954-5.954 5.954 2.234 2.234 5.954-5.953 5.954 5.953 2.234-2.234z"
                          fill="currentColor"
                          fill-rule="evenodd"
                        ></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-container-col2">
        <div class="container-typography-section">
          <h2 class="header-typography-section">TYPOGRAPHY</h2>
          <div class="typography-header">
            <div class="typographys">
              <h4>Header</h4>
              <p>Roboto, sans-serif</p>
              <p>16px (1rem)</p>
            </div>
            <div class="typographys">
              <h4>Header</h4>
              <p>Roboto, sans-serif</p>
              <p>16px (1rem)</p>
            </div>
            <div class="typographys">
              <h4>Header</h4>
              <p>Roboto, sans-serif</p>
              <p>16px (1rem)</p>
            </div>
            <div class="typographys">
              <h4>Header</h4>
              <p>Roboto, sans-serif</p>
              <p>16px (1rem)</p>
            </div>
          </div>
        </div>
        <div class="icons-div">
          <div class="icons-div-title"><h2>ICONS</h2></div>
          <hr />
          <div class="icons-div-container">
            <div class="icons-div-img">
              <img src="/assets/icons/bag.svg" alt="bag" width="24px" />
              <img
                src="/assets/icons/big_cake.svg"
                alt="big cake"
                width="24px"
              />
              <img
                src="/assets/icons/black_star.svg"
                alt="black_star"
                width="24px"
              />
              <img src="/assets/icons/block.svg" alt="block" width="24px" />
              <img src="/assets/icons/block_2.svg" alt="block2" width="24px" />
              <img
                src="/assets/icons/blue_block.svg"
                alt="blue block"
                width="24px"
              />
              <img
                src="/assets/icons/halfStar.svg"
                alt="halfstar"
                width="24px"
              />
              <img src="/assets/icons/hashtag.svg" alt="hashtag" width="24px" />
              <img src="/assets/icons/heart.svg" alt="hearth" width="24px" />
              <img
                src="/assets/icons/lego_head.svg"
                alt="lego head"
                width="24px"
              />
              <img src="/assets/icons/lens.svg" alt="lens" width="24px" />
              <img
                src="/assets/icons/long_arrow.svg"
                alt="long arrow"
                width="24px"
              />
              <img
                src="/assets/icons/small_cake.svg"
                alt="small cake"
                width="24px"
              />
              <img src="/assets/icons/star.svg" alt="star" width="24px" />
              <img
                src="/assets/icons/three_arrows.svg"
                alt="three arrows"
                width="24px"
              />
              <img
                src="/assets/icons/two_block.svg"
                alt="two blocks"
                width="24px"
              />
            </div>
          </div>
        </div>
        <div class="form-field-div">
          <div class="form-field-div-title"><h2>FORM FIELDS</h2></div>
          <hr />
          <div class="form-field-div-container">
            <div><h3>GENERIC FIELD</h3></div>
            <div class="generic-field-container">
              <div class="generic-field-label-wrap">
                <label type="text" tabindex="-1" class="generic-field-label">
                  <input
                    type="text"
                    name="subscribe"
                    aria-invalid="false"
                    aria-disabled="false"
                    data-test="input-with-button-input"
                    class="generic-field-input"
                    value=""
                  /><span type="text" tabindex="-1" class="generic-field-text"
                    >Il tuo indirizzo e-mail</span
                  ></label
                >
              </div>
              <div class="generic-field-button-wrapper">
                <button class="generic-field-button">
                  <svg
                    width="18"
                    height="28"
                    viewBox="0 0 18 28"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    class="generic-field-button-svg"
                  >
                    <path
                      d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-container-col3">
        <div class="components-div">
          <div class="atom-homepage-card">
            <h3>Cards</h3>
            <img
              src="https://www.lego.com/cdn/cs/set/assets/blt25470f9d8e38a8a7/40573_Prod.png?fit=bounds&format=png&width=320&height=320&dpr=1"
              alt="main image of the card"
              class="atom-homepage-card-img"
            />
            <div class="atom-homepage-card-content">
              <h3 class="atom-homepage-card-title">Albero di Natale</h3>
              <div class="atom-homepage-card-icons">
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
                <img
                  src="/assets/icons/star.svg"
                  alt="stellina gialla"
                  width="15px"
                />
              </div>
              <p class="atom-homepage-card-price">44,99€</p>
              <!--       SPAZIO BOTTONE         -->

              <button class="standard-button standard-button-square button-red">
                <div class="spinner-container hidden">
                  <svg class="spinner" viewBox="0 0 66 66">
                    <circle
                      cx="33"
                      cy="33"
                      r="20"
                      fill="none"
                      stroke="#000000"
                      class="spinner-circle"
                    ></circle>
                  </svg>
                </div>
                <div class="testo">Su ordinazione</div>
              </button>
            </div>
          </div>
          <div class="atom-homepage-post">
            <h3>TITOLO</h3>
            <img
              src="https://www.lego.com/cdn/cs/set/assets/blt96924d13aaf44bca/10318-Page-202309-Block-Standard-2.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
              alt="airplain"
              class="atom-homepage-post-img"
            />
            <h3 class="atom-homepage-post-title">Nuovo set Concorde LEGO<sup>&#174</sup> Icons</h3>
            <p class="atom-homepage-post-paragraph">
              Fai volare la tua creatività a velocità supersonica con una nuova
              fantastica replica
            </p>
            <div class="atom-homepage-post-buy-now-arrow">
              <span class="atom-homepage-post-buy-now">Compra ora</span>
              <svg
                width="18"
                height="28"
                viewBox="0 0 18 28"
                aria-hidden="true"
                class="atom-homepage-post-arrow"
              >
                <path
                  d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                  fill="currentColor"
                class="atom-homepage-post-arrow"></path>
              </svg>
            </div>
          </div>
          <div class="product-characteristics-card">
            <div class="slot-product-characteristics-card-image">
              <img
                class="product-characteristics-img"
                src="https://www.lego.com/cdn/cs/set/assets/blt0648f4067b853252/10306-202208-Block-Standard-1.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt="characteristics-img"
              />
            </div>
            <div class="slot-product-characteristics-card-content">
              <div class="container-product-characteristics-card-title">
                <h3 class="product-characteristics-card-title">
                  Inserisci la cartuccia e gioca
                </h3>
              </div>
              <div class="container-product-characteristics-card-description">
                <p class="product-characteristics-card-description">
                  Il pannello frontale riproduce la console con interruttori
                  funzionanti.
                </p>
              </div>
            </div>
          </div>
          <div class="product-characteristics-card">
            <div class="slot-product-characteristics-card-image">
              <img
                class="product-characteristics-img"
                src="https://www.lego.com/cdn/cs/set/assets/blt0648f4067b853252/10306-202208-Block-Standard-1.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt="characteristics-img"
              />
            </div>
            <div class="slot-product-characteristics-card-content">
              <div class="container-product-characteristics-card-title">
                <h3 class="product-characteristics-card-title">
                  Inserisci la cartuccia e gioca
                </h3>
              </div>
              <div class="container-product-characteristics-card-description">
                <p class="product-characteristics-card-description">
                  Il pannello frontale riproduce la console con interruttori
                  funzionanti.
                </p>
              </div>
            </div>
          </div>
          <div class="product-characteristics-card">
            <div class="slot-product-characteristics-card-image">
              <img
                class="product-characteristics-img"
                src="https://www.lego.com/cdn/cs/set/assets/blt0648f4067b853252/10306-202208-Block-Standard-1.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt="characteristics-img"
              />
            </div>
            <div class="slot-product-characteristics-card-content">
              <div class="container-product-characteristics-card-title">
                <h3 class="product-characteristics-card-title">
                  Inserisci la cartuccia e gioca
                </h3>
              </div>
              <div class="container-product-characteristics-card-description">
                <p class="product-characteristics-card-description">
                  Il pannello frontale riproduce la console con interruttori
                  funzionanti.
                </p>
              </div>
            </div>
          </div>
          <div class="product-characteristics-card">
            <div class="slot-product-characteristics-card-image">
              <img
                class="product-characteristics-img"
                src="https://www.lego.com/cdn/cs/set/assets/blt0648f4067b853252/10306-202208-Block-Standard-1.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt="characteristics-img"
              />
            </div>
            <div class="slot-product-characteristics-card-content">
              <div class="container-product-characteristics-card-title">
                <h3 class="product-characteristics-card-title">
                  Inserisci la cartuccia e gioca
                </h3>
              </div>
              <div class="container-product-characteristics-card-description">
                <p class="product-characteristics-card-description">
                  Il pannello frontale riproduce la console con interruttori
                  funzionanti.
                </p>
              </div>
            </div>
          </div>
          <div class="product-characteristics-card">
            <div class="slot-product-characteristics-card-image">
              <img
                class="product-characteristics-img"
                src="https://www.lego.com/cdn/cs/set/assets/blt0648f4067b853252/10306-202208-Block-Standard-1.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt="characteristics-img"
              />
            </div>
            <div class="slot-product-characteristics-card-content">
              <div class="container-product-characteristics-card-title">
                <h3 class="product-characteristics-card-title">
                  Inserisci la cartuccia e gioca
                </h3>
              </div>
              <div class="container-product-characteristics-card-description">
                <p class="product-characteristics-card-description">
                  Il pannello frontale riproduce la console con interruttori
                  funzionanti.
                </p>
              </div>
            </div>
          </div>
          <div class="product-characteristics-card">
            <div class="slot-product-characteristics-card-image">
              <img
                class="product-characteristics-img"
                src="https://www.lego.com/cdn/cs/set/assets/blt0648f4067b853252/10306-202208-Block-Standard-1.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt="characteristics-img"
              />
            </div>
            <div class="slot-product-characteristics-card-content">
              <div class="container-product-characteristics-card-title">
                <h3 class="product-characteristics-card-title">
                  Inserisci la cartuccia e gioca
                </h3>
              </div>
              <div class="container-product-characteristics-card-description">
                <p class="product-characteristics-card-description">
                  Il pannello frontale riproduce la console con interruttori
                  funzionanti.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/components/atom/standard-button-square/standard-button-square.js"></script>
    <script src="standard-button-square.js"></script>
    <script src="index.js"></script>
    <script src="/components/atom/button-info/buttonInfo.js"></script>
  </body>
</html>
