@import url(/assets/CSS/style.css);

/* Accordion menus CSS */
.product-details-container {
  margin: 0 auto;
  overflow: hidden;
}

.product-details-accordion-button {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding: 1.875rem;
  width: 100%;
  max-width: 100rem;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.product-details-accordion-holder{
  width: 100%;
  background: rgb(248, 248, 248);
  border-top: 1px solid rgb(224, 224, 224);
}
.content-accordion-button {
  display: flex;
  align-items: center;
}

.content-accordion-button h2 {
  margin: 0;
}

.content-accordion-review-extra {
  margin-left: 10px;
}

/* First accordion */
.product-details-accordion-panel {
  background-color: white;
}

/* VIDEO DIV --- DIV1 */
.product-details-accordion-video-content {
  display: flex;
  justify-content: center;
}

.product-details-accordion-video-content video {
  width: 100rem;
}

.product-details-accordion-content {
  position: relative;
  text-align: center;
  color: var(--black);
  margin-top: 0;
  background-color: #6eb9e7;
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;
}

.product-details-accordion-text-content {
  color: var(--black);
  background-color: #6eb9e7;
  margin: 0px auto;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail-accordion-text {
  text-align: center;
  width: 100%;
  max-width: 50rem;
  padding: 16px;
}
.product-detail-text-holder{
  font-size: clamp(1.25rem,.979592vw + 1.02041rem,2rem);
}
.product-detail-text-holder :nth-child(3){
font-size:clamp(.875rem,.163265vw + .836735rem,1rem);
line-height: 1.5;
text-align: center;}
.product-detail-accordion-right-side-content {
  font-size: 1.335rem;
  line-height: 3.125rem;
  position: absolute;
  max-width: 35%;
  padding: 0px;
  background-color: transparent;
  text-align: left;
  right: 1rem;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
.product-detail-accordion-left-side-content {
  font-size: 1.335rem;
  line-height: 3.125rem;
  position: absolute;
  max-width: 35%;
  padding: 0px;
  background-color: transparent;
  text-align: left;
  left: 6.75rem;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-double-div {
  background-color:rgb(124, 19, 27);
  display: flex;
  flex-direction: row;
}

@media(max-width: 901px){
  .product-detail-accordion-left-side-content{
    left:3.75rem;
    font-size: 0.85rem;
  }
  .product-detail-accordion-right-side-content{
    right: 3rem;
    font-size: 0.85rem;
  }
}
@media (max-width: 600px) {
  .accordion-side-text {
    display: flex;
    flex-direction: column;
    background-color: rgb(124, 19, 27);
  }
  .accordion-left-size-text{
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 50, 32);
  }
  .accordion-side-button{
    display: flex;
    flex-direction: column;
  }.accordion-side-button2{
    display: flex;
    flex-direction: column;
  }
  .accordion-double-div {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
  }
  .accordion-side-text img{
    content:url("https://www.lego.com/cdn/cs/set/assets/blt292c492185648c5c/10325-202310-PDP-Hero-Standard-Small-1.jpg?fit=crop&format=webply&quality=80&width=600&height=600&dpr=2")
  }
    .accordion-left-side-text img{
    content:url("https://www.lego.com/cdn/cs/set/assets/blte82aec4a23cb635f/10325-202310-PDP-Hero-Standard-Small-2.jpg?fit=crop&format=webply&quality=80&width=600&height=600&dpr=2")
  }
  .accordion-side-button img{
    content:url("https://www.lego.com/cdn/cs/set/assets/blt4aaf7ef599a9d81c/10325-202310-PDP-Hero-Standard-Small-3.jpg?fit=crop&format=webply&quality=80&width=600&height=600&dpr=2")
  }
  .accordion-side-button2 img{
    content: url("https://www.lego.com/cdn/cs/set/assets/blt450376755b8f5e1a/10325-PDP-202310-Sidekick-Standard.jpg?fit=crop&format=jpg&quality=80&width=800&height=426&dpr=1");
  }
  .product-detail-accordion-right-side-content {
    position: relative;
    max-width: 100%;
    text-align: center;
    right: 0;
  }
  .product-detail-accordion-left-side-content {
    position: relative;
    max-width: 100%;
    text-align: center;
    right: 0;
    left:0;
    background-color: rgb(10, 50, 32);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/* DIV WITH CARDS --- DIV6 */
.accordion-red-bg {
  background-color: rgb(161, 13, 29);
}
.accordion-card-holder {
  padding: 2.5rem 1.25rem;
  max-width: 82.5rem;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.accordion-card {
  font-size: 1.25rem;
  width: 25%;
  height: 25%;
  margin-right: 1.25rem;
  display: flex;
  flex-direction: column;
  /*   position: relative;
 */
  color: white;
}
.accordion-card img {
  aspect-ratio: 1;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /*   position: absolute;
 */
  inset: 0px;
}

.right-side-accordion-content{
}

/* CAROUSEL DIV */
.carousel-accordion-container {
  max-width: 82.5rem;
  padding: 2.5rem 1.25rem;
  margin: 0px auto;
}
.carousel-title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: left;
  gap:10px;
  align-items: center;
}
.carousel-title p{
  font-size: 14;
  text-decoration: underline;
}
.carousel-link-svg{
  margin-left: 0;
}
.accordion-button {
  width: auto;
  /* margin/padding-button */
  margin-top: 1.25rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  padding: 0.625rem 1.125rem;
  /* font button */
  font-size: var(--font-size-s0);
  text-align: center;
  /* color and border */
  border: 1px solid transparent;
  border-radius: 4px;
  border-width: 1px;
  background: var(--white);
  color: var(--black);
  line-height: var(--line-height-s0);
  /* flex-parameters */
  display: flex;
  align-items: center;
}


.accordion-button:hover {
  background-color: var(--black);
  color: var(--white);
}
.product-details-list-container {
  padding: 1.125rem 0px;
  width:auto;
  max-width: 100rem;
  margin: 0px auto;
  display: flex;
  padding-inline:1.25rem;
}
.detail-list-main-content {
  width: 60%;
}

.product-list-details-image {
  width: 40%;
  flex: 1 1 0%;
  text-align: center;
}
.product-list-details-image img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 901px){
  .product-details-list-container{
    flex-direction: column-reverse;
  }
  .detail-list-main-content{
    width: 100%;
  }
  .product-list-details-image{
    width: 100%;
  }
}

.detail-list-main-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.detail-list-main-content li {
  list-style-type: disc;
  padding-bottom: 1.5625rem;
  margin-bottom: 0.75rem;
}

/* Terzo accordion CSS */
.container-review {
  margin: 0px auto;
  max-width: 100rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.accordion-review-header {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  width: 100%;
  max-width: 100rem;
  padding: 0px 1.25rem;
  margin: 0px auto;

  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.full-review-content p{
margin-bottom: 0;
}
.full-review-content span{
  color:green;
}
.full-review-content-title {
  display: flex;
  flex-direction: row;
}
.full-review-content-title img {
  margin-right: 0.55rem;
}
.full-review-doublediv {
  display: flex;
  flex-direction: row;
}

.review-left-content {
  display: block;
  padding: 0px 1.25rem 0px 0px;
}
.left-content-button {
  margin-bottom: 0.9375rem;
  padding: 0px 2.5rem 0px 0.9375rem;
  margin-left: -0.9375rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
/* Bars and filled parts */
.left-content-buttons-bar {
  width: 12rem; /* Total width of the progress bar */
  height: 1.25rem;
  border-radius: 0.99rem;
  background-color: rgb(224, 224, 224);
  overflow: hidden;
  margin: 0.75rem;
  position: relative;
  
}

.buttons-bar-100 {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 207, 0);
}

.buttons-bar-44 {
  height:100%;
  width: 44%;
  background-color: rgb(255, 207, 0);
}
.buttons-bar-11 {
  height:100%;
  width: 11%;
  background-color: rgb(255, 207, 0);
}

.buttons-bar-0 {
  width: 0;
  background-color: rgb(255, 207, 0);
}
.full-review-message {
  width: 100%;
  padding: 1.25rem 0px;
  border-top: 1px solid rgb(224, 224, 224);
  margin-bottom: 12px;
}
.full-review-right {
  border-left: 1px solid rgb(224, 224, 224);
  padding-left:1.25rem;
}
.review-right-icons {
  display: flex;
  align-items: center;
}
.review-icon-legobrick {

  margin: 0.0625rem;
  padding: 0.2rem;
}
.full-review-button {
  margin-top: 18px;
  display: inline-block;
  width: auto;
  height: fit-content;
  

}
.review-button{
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  background-color: rgb(0, 109, 183);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 109, 183);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding:0.5rem
}