<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="product-details-container">
      <!-- Primo accordion tab -->
      <button class="product-details-accordion-button">
        <div class="content-accordion-button">
          <h2>Caratteristiche</h2>
        </div>
        <div>ICONA DA CREARE</div>
      </button>
      <!-- Content inside first tab -->
      <div class="product-details-accordion-panel">
        <div class="product-details-accordion-video-content">
          <video
            autoplay
            loop
            muted
            src="https://www.lego.com/cdn/cs/set/assets/blt331f679eafe7505f/10325_AID2303845P1GL_ShopperVideo_30s_16x9_WoText.mp4"
          ></video>
        </div>

        <div class="product-details-accordion-text-content" name="DIV2">
          <div class="product-detail-accordion-text">
            <span
              ><h1>Crea un'accogliente rifugio innevato</h1>
              Dalle camere degli ospiti decorate a festa ai caminetti
              illuminati, una pista di pattinaggio all'aperto e persino una
              cabina-WC, il set Baita alpina LEGO® Icons è un'aggiunta
              divertente e gratificante alla tua collezione Villaggio invernale
              LEGO Icons.</span
            >
          </div>
        </div>

        <div class="product-details-accordion-content">
          <img
            src="https://www.lego.com/cdn/cs/set/assets/blt9351c9f3b7f526dd/10325-202310-PDP-Hero-Short-Large.jpg?fit=crop&format=jpg&quality=80&width=1600&height=200&dpr=1"
            alt=""
          />
        </div>
        <div class="product-details-accordion-content" name="DIV4">
          <img
            src="https://www.lego.com/cdn/cs/set/assets/blt237d4d81bbadb2a5/10325-202310-PDP-Hero-Carousel-Large-1.jpg?fit=crop&format=jpg&quality=80&width=1600&height=500&dpr=1"
            alt=""
          />
          <!-- QUI -->
          <div class="product-detail-accordion-right-side-content">
            <h1>Fai un giro sulla pista di pattinaggio all'aperto</h1>
          </div>
        </div>
        <div class="product-details-accordion-content">
          <img
            src="https://www.lego.com/cdn/cs/set/assets/blt606ce6afeece8661/10325-202310-PDP-Hero-Carousel-Large-2.jpg?fit=crop&format=jpg&quality=80&width=1600&height=500&dpr=1"
            alt=""
          />
          <div class="product-detail-accordion-left-side-content">
            <h1>Salta sulla motoslitta e consegna l'albero di Natale</h1>
          </div>
        </div>
        <div class="product-details-accordion-content accordion-red-bg">
          <div class="accordion-card-holder">
            <div class="accordion-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt7baad072a18a4c09/10325-202310-PDP-Block-Standard-1.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt=""
              />
              <h3>Sorprendi un amico nella cabina-WC</h3>
            </div>
            <div class="accordion-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt432beb8c81613613/10325-202310-PDP-Block-Standard-2.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt=""
              />
              <h3>Sistemati per la notte nell'accogliente loft</h3>
            </div>
            <div class="accordion-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blt7c0ea79ae08e7277/10325-202310-PDP-Block-Standard-3.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt=""
              />
              <h3>
                Condividi una cioccolata calda accanto al fuoco(mattoncino
                nuvoloso)
              </h3>
            </div>
            <div class="accordion-card">
              <img
                src="https://www.lego.com/cdn/cs/set/assets/blte2cdcee09afa9caf/10325-202310-PDP-Block-Standard-4.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
                alt=""
              />
              <h3>Scambiatevi i regali accanto all'albero decorato</h3>
            </div>
          </div>
        </div>
        <div class="product-details-accordion-content">
          <img
            src="https://www.lego.com/cdn/cs/set/assets/blt7d86a498a23b97f2/10325-202310-PDP-Hero-Carousel-Large-3.jpg?fit=crop&format=jpg&quality=80&width=1600&height=500&dpr=1"
            alt=""
          />
          <div class="product-detail-accordion-left-side-content">
            <h1>
              Un'aggiunta festosa a qualsiasi collezione Villagio invernale
            </h1>
            <button class="accordion-button">
              Compra ora
              <svg
                width="16"
                height="16"
                viewBox="0 0 18 28"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                class="homepage-subscription-button-svg"
              >
                <path
                  d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                  fill="currentColor"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="product-details-accordion-content accordion-double-div">
          <div class="left-side-accordion-content">
            <img
              src="https://www.lego.com/cdn/cs/set/assets/blt450376755b8f5e1a/10325-PDP-202310-Sidekick-Standard.jpg?fit=crop&format=jpg&quality=80&width=800&height=426&dpr=1"
              alt=""
            />
          </div>
          <div class="right-side-accordion-content">
            <div class="product-detail-accordion-right-side-content">
              <h1>Leggi tutto sulla collezione Villaggio invernale LEGO®</h1>
              <button class="accordion-button">
                Iscriviti ora
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 18 28"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  class="homepage-subscription-button-svg"
                >
                  <path
                    d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                    fill="currentColor"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="product-details-accordion-content">
          Scopri altri set stagionali
          <!-- Carousel space here -->
        </div>
      </div>

      <!-- Secondo accordion tab -->
      <button class="product-details-accordion-button">
        <div class="content-accordion-button">
          <h2>Dettagli del prodotto</h2>
        </div>
        <div>ICONA DA CREARE</div>
      </button>
      <!-- Content inside second tab -->
      <div class="product-details-accordion-panel">
        <div class="product-details-list-container">
          <div class="detail-list-main-content">
            <p>
              Benvenuto alla Baita alpina LEGO® Icons (10325), l’ultima novità
              nella popolare collezione Villaggio invernale LEGO. Prenditi una
              pausa e realizza un accogliente bed and breakfast innevato con
              camere confortevoli e caminetti accesi.
            </p>
            <p>
              Dettagli fantastici <br />
              Questo modello di baita a 3 livelli contiene una reception
              arredata con bancone del check-in, caminetto illuminato e macchina
              per il caffè, una camera per gli ospiti al secondo piano con
              caminetto illuminato e 2 letti, e una camera da letto soppalcata
              al terzo piano. Le caratteristiche esterne includono un negozio di
              legna, un box per gli sci, un’area di pattinaggio e cabina-WC, più
              una motoslitta, un albero di Natale, 5 minifigure e uccelli, gatti
              e scoiattoli.
            </p>
            <p>
              Un modello festivo per tutta la famiglia <br />Scopri uno spazio
              per il relax con questo set LEGO di alta qualità, una fantastica
              idea regalo per i fan della collezione Villaggio invernale LEGO
              con istruzioni per la costruzione separate per bambini e adulti.
            </p>
            <ul>
              <li>
                Un festoso progetto di costruzione in famiglia: trascorri del
                tempo di qualità realizzando tutti i dettagli della Baita alpina
                LEGO® Icons (10325)
              </li>
              <li>
                Cosa c’è nella scatola? Tutto il necessario per costruire la
                baita alpina a 3 piani, l’area di pattinaggio all’aperto, la
                cabina-WC, la motoslitta e il rimorchio, più un albero di
                Natale, 5 minifigure e un gatto, uno scoiattolo e un uccello
              </li>
              <li>
                Caratteristiche e funzioni: premi il comignolo per accendere i
                caminetti nella reception e nella camera degli ospiti al secondo
                piano
              </li>
              <li>
                Un regalo LEGO®: regala questo set da costruzione per il
                compleanno, il Natale o qualsiasi altra occasione a un fan
                adulto dei set da costruzione LEGO e della collezione Villaggio
                invernale LEGO
              </li>
              <li>
                Dimensioni: il modello della baita misura 21 cm di altezza, 24
                cm di larghezza e 16 cm di profondità
              </li>
              <li>
                Accessori: il set include un albero di Natale, decorazioni per
                l’albero di Natale e un libro degli ospiti
              </li>
              <li>
                Istruzioni per la costruzione digitale: l’app LEGO® Builder
                contiene una versione digitale delle istruzioni di montaggio
                incluse in questo set
              </li>
              <li>
                Progetti LEGO® pieni di mindfulness per gli adulti e le
                famiglie: questo set da costruzione fa parte di una gamma di
                modelli avanzati progettati per gli adulti, le famiglie e gli
                amici
              </li>
              <li>
                Materiali di qualità: dal 1958, i mattoncini da costruzione
                LEGO® sono prodotti con materiali di prima qualità. Sono sempre
                uniformi e compatibili e si montano e si smontano facilmente
              </li>
              <li>
                Garanzia di sicurezza: con i pezzi LEGO®, la sicurezza e la
                qualità sono una priorità. Sono infatti rigorosamente testati,
                per assicurare che questo modello di hotel sia tanto sicuro e
                robusto
              </li>
            </ul>
          </div>
          <div class="product-list-details-image">
            <img
              src="https://www.lego.com/cdn/cs/set/assets/blt476547efc6c46393/10325_alt1.png?fit=bounds&format=png&width=320&height=320&dpr=1"
              alt=""
            />
          </div>
        </div>
      </div>

      <!-- Terzo accordion tab -->
      <button class="product-details-accordion-button">
        <div class="content-accordion-button">
          <h2>Recensioni di Prodotti</h2>
          <div class="content-accordion-review-extra">
            <img src="/assets/icons/star.svg" width="15px" alt="" />
            <img src="/assets/icons/star.svg" width="15px" alt="" />
            <img src="/assets/icons/star.svg" width="15px" alt="" />
            <img src="/assets/icons/star.svg" width="15px" alt="" />
            <img src="/assets/icons/star.svg" width="15px" alt="" />
          </div>
          <span>9 Recensioni</span>
        </div>
        <div>ICONA DA CREARE</div>
      </button>
      <!-- Content inside third tab -->
      <div class="product-details-accordion-panel">
        <p>Lorem ipsum...</p>
      </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
