<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="standard-button-square.css" />
    <title>Document</title>
  </head>
  <body>
    <button class="standard-button standard-button-square button-red">
      <div class="spinner-container hidden">
        <svg class="spinner" viewBox="0 0 66 66">
          <circle
            cx="33"
            cy="33"
            r="20"
            fill="none"
            stroke="#000000"
            class="spinner-circle"
          ></circle>
        </svg>
      </div>
      <div class="container-content-standard-button">
        <div class="testo">Su ordinazione</div>
      </div>
    </button>
    <script src="standard-button-square.js"></script>
  </body>
</html>
