<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="storeTop.css" />
    <link rel="stylesheet" href="/components/common.css" />
    <script src="storeTop.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="top-store">
      <div class="top-links">
        <nav>
          <ol class="links">
            <li class="home">
              <span class="markup-home">
                <a href="">Home</a>
              </span>
              <div class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 40 40"
                  fill="currentColor"
                >
                  <path
                    d="m13.357 37.587 16.845-16.303A2.489 2.489 0 0 0 31 19.473c0-.679-.287-1.33-.798-1.811L13.26 2.373A1.42 1.42 0 0 0 12.293 2c-.362 0-.71.134-.967.374L9.406 4.21c-.129.12-.23.261-.3.418a1.214 1.214 0 0 0 0 .988c.07.156.171.299.3.418l14.952 13.553-14.952 14.44c-.256.241-.4.567-.4.906 0 .34.144.665.4.906l1.975 1.786c.13.122.287.218.458.282a1.454 1.454 0 0 0 1.073-.021 1.36 1.36 0 0 0 .444-.3Z"
                    class="icon-arrow"
                  ></path>
                </svg>
              </div>
            </li>
            <li class="news">
              <span class="markup-news">
                <a href="">Novità</a>
              </span>
              <div class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 40 40"
                  fill="currentColor"
                >
                  <path
                    d="m13.357 37.587 16.845-16.303A2.489 2.489 0 0 0 31 19.473c0-.679-.287-1.33-.798-1.811L13.26 2.373A1.42 1.42 0 0 0 12.293 2c-.362 0-.71.134-.967.374L9.406 4.21c-.129.12-.23.261-.3.418a1.214 1.214 0 0 0 0 .988c.07.156.171.299.3.418l14.952 13.553-14.952 14.44c-.256.241-.4.567-.4.906 0 .34.144.665.4.906l1.975 1.786c.13.122.287.218.458.282a1.454 1.454 0 0 0 1.073-.021 1.36 1.36 0 0 0 .444-.3Z"
                    class="icon-arrow"
                  ></path>
                </svg>
              </div>
            </li>
            <li class="new-set">
              <span class="markup-newSet"> Nuovi set LEGO </span>
            </li>
          </ol>
        </nav>
      </div>
      <div class="news-title">
        <h1>Novità</h1>
      </div>
      <section class="legoNews">
        <div class="container-legoNews">
          <h1>Nuovi set LEGO®</h1>
          <p>
            <span class="text-news">
              Avviso per tutti gli appassionati LEGO®! Se ti interessa conoscere
              gli ultimi set da costruire, salva questa pagina. Qui puoi trovare
              ogni nuovo set LEGO uscito negli ultimi 2 mesi. Da giocattoli da
              costruzione a complessi articoli da collezione, c'è un'ampia gamma
              di prodotti da scoprire. Esplora un vasto assortimento LEGO e
              filtra per <a href="" class="text-link">fascia d'età</a>,<a
                href=""
                class="text-link"
                >prezzo</a
              >,<a href="" class="text-link">tipo di interesse</a> e altro
              ancora. Puoi anche trovare tutti i
              <a href="" class="text-link">set in arrivo</a>, i
              <a href="" class="text-link">set esclusivi LEGO</a> e i
              <a href="" class="text-link">set LEGO più popolari</a>
              <br />
              <span class="toggle-button-container">
                <button class="toggle-button">Leggi di più</button>
              </span>
            </span>
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
