<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="homepage-featured-post.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="homepage-featured-post-container">
      <div class="homepage-featured-post-left-content">
        <div class="homepage-featured-post-background-holder">
          <img
            class="castello-img"
            src="https://www.lego.com/cdn/cs/set/assets/blt1a803a41d03d2a9b/Holiday23-GroupedAssets-202311-Hero-Standard-Large-10326.jpg?fit=crop&format=jpg&quality=80&width=1600&height=500&dpr=1"
            alt="castello-img"
          />
        </div>
        <img
          class="homepage-featured-post-hidden-logo"
          src="https://www.lego.com/cdn/cs/set/assets/blt7edaf53ef388efd2/icons-logo-neg.png?format=png&height=60&dpr=1,
https://www.lego.com/cdn/cs/set/assets/blt7edaf53ef388efd2/icons-logo-neg.png?format=png&height=60&dpr=1.5 1.5x,
https://www.lego.com/cdn/cs/set/assets/blt7edaf53ef388efd2/icons-logo-neg.png?format=png&height=60&dpr=2 2x"
          alt=""
        />
      </div>
      <div class="homepage-featured-post-main-content">
        <!-- logo -->
        <img
          src="https://www.lego.com/cdn/cs/set/assets/blt7edaf53ef388efd2/icons-logo-neg.png?format=png&height=60&dpr=1,
          https://www.lego.com/cdn/cs/set/assets/blt7edaf53ef388efd2/icons-logo-neg.png?format=png&height=60&dpr=1.5 1.5x,
          https://www.lego.com/cdn/cs/set/assets/blt7edaf53ef388efd2/icons-logo-neg.png?format=png&height=60&dpr=2 2x"
          alt=""
          srcset=""
        />
        <h2>Prenota un modello di proporzioni storiche</h2>
        <p>
          Il nuovo Museo di Storia naturale LEGO® Icons è disponibile dall'1/12.
        </p>
        <div class="homepage-featured-post-right-buttons">
          <button class="homepage-featured-post-button">
            Prenota
            <svg
              width="16"
              height="16"
              viewBox="0 0 18 28"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              class="homepage-featured-post-button-svg"
            >
              <path
                d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <button class="homepage-featured-post-button">
            Scopri di più
            <svg
              width="16"
              height="16"
              viewBox="0 0 18 28"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              class="homepage-featured-post-button-svg"
            >
              <path
                d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <script src="/assets/JS/script.js"></script>
  </body>
</html>
