@import url(/assets/CSS/style.css);

.container-color-section {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--white);
}

.container-color-section h2 {
  text-decoration: underline;
  grid-column: 1 / span 2;
  margin: 0;
}

.primary-colors,
.secondary-colors {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 1rem;
}

.primary-colors h3,
.secondary-colors h3 {
  grid-column: 1 / span 2;
}

.colors * {
  margin: 0;
}

.colors p:last-child {
  font-size: var(--font-size-sm2);
}

.colors p:first-of-type {
  font-size: var(--font-size-sm1);
  color: var(--black);
}

.color {
  aspect-ratio: 2/1;
}

.yellow {
  background-color: var(--header);
}

.dark-blue {
  background-color: var(--footer);
}

.water-green {
  background-color: var(--water-green);
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}

.water-green-button {
  background-color: var(--water-green-button);
}

.red-button {
  background-color: var(--red-button);
}
