<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-color-section">
      <h2 class="header-color-section">BRAND COLORS</h2>
      <div class="primary-colors">
        <h3>PRIMARY</h3>
        <div class="colors">
          <div class="color yellow"></div>
          <h4>Yellow</h4>
          <p>rgb(255, 207, 0)</p>
          <p>Header</p>
        </div>
        <div class="colors">
          <div class="color dark-blue"></div>
          <h4>Dark-blue</h4>
          <p>rgb(32, 29, 72)</p>
          <p>Footer</p>
        </div>
        <div class="colors">
          <div class="color water-green"></div>
          <h4>Water-green</h4>
          <p>rgb(37, 129, 128)</p>
          <p>Main Homepage</p>
        </div>
        <div class="colors">
          <div class="color red"></div>
          <h4>Red</h4>
          <p>rgb(120, 27, 29)</p>
          <p>Main Homepage</p>
        </div>
      </div>
      <div class="secondary-colors">
        <h3>SECONDARY</h3>
        <div class="colors">
          <div class="color orange"></div>
          <h4>Orange</h4>
          <p>rgb(255, 207, 0)</p>
          <p>Button</p>
        </div>
        <div class="colors">
          <div class="color water-green-button"></div>
          <h4>Dark-Water</h4>
          <p>rgb(255, 207, 0)</p>
          <p>Button</p>
        </div>
        <div class="colors">
          <div class="color red-button"></div>
          <h4>Light-Red</h4>
          <p>rgb(255, 207, 0)</p>
          <p>Button</p>
        </div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
