<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="atom-store-checkbox.css" />
  <title>Document</title>
</head>

<body>
  <div class="container-atom-store-checkbox">
    <ul class="list-container-atom-store-checkbox">
      <li class="li-atom-store-checkbox">
          <label for="" class="atom-label-for-click">
            <div class="atom-container-space-to-check">
              <input type="checkbox" class="atom-input-checkbox">
              <div class="container-image-checkbox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -25 100 100" xml:space="preserve"
                  class="svg-checkbox-V checkbox-image-not-visible">
                  <polygon fill="currentColor" points="0.4,23.9 36,59.6 99.6,-4 88.5,-4 77.4,-4 36,37.3 22.6,24 11.5,24 "></polygon>
                </svg>
              </div>
            </div>
            <span class="container-span-content-check">
              <span class="span-content-check">Set</span>
              <span class="span-number-check">[<!-- -->5<!-- -->]</span>
            </span>
          </label>
      </li>
    </ul>
  </div>

  <script src="atom-store-checkbox.js"></script>
</body>

</html>