<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="homepage-post.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="atom-homepage-post">
      <img
        src="https://www.lego.com/cdn/cs/set/assets/blt96924d13aaf44bca/10318-Page-202309-Block-Standard-2.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1"
        alt="airplain"
        class="atom-homepage-post-img"
      />
      <h3 class="atom-homepage-post-title">Nuovo set Concorde LEGO<sup>&#174</sup> Icons</h3>
      <p class="atom-homepage-post-paragraph">
        Fai volare la tua creatività a velocità supersonica con una nuova
        fantastica replica
      </p>
      <div class="atom-homepage-post-buy-now-arrow">
        <span class="atom-homepage-post-buy-now">Compra ora</span>
        <svg
          width="18"
          height="28"
          viewBox="0 0 18 28"
          aria-hidden="true"
          class="atom-homepage-post-arrow"
        >
          <path
            d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z"
            fill="currentColor"
          class="atom-homepage-post-arrow"></path>
        </svg>
      </div>
    </div>
    
  </body>
</html>
