.atom-homepage-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  scroll-snap-align: start; /* Imposta l'allineamento snap sulla parte iniziale dell'elemento */
  margin-bottom: 1.5rem;
  width: 100%;
  min-width: 20.5rem;
}
.atom-homepage-post:hover .atom-homepage-post-buy-now {
  text-decoration: underline;
}

.atom-homepage-post-img {
  width: 100%;
  padding-bottom: 20px;
}

.atom-homepage-post-paragraph{
  flex-wrap: wrap;
  font-weight: var(--font-weight-normal);
  width: 100%;
}

.atom-homepage-post-buy-now-arrow {
  display: flex;
  align-items: end;
}
.atom-homepage-post-buy-now {
  font-weight: var(--font-weight-bold);
  padding-right: 10px;
}

.atom-homepage-post-arrow {
  width: var(--icon-sizing-3xs);
}