<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="homepage-cookies.css" />
    <title>Document</title>
  </head>
  <body>
    <script src="index.js"></script>
    <div class="homepage-cookie-container">
      <div class="homepage-cookie-banner">
        <div class="homepage-cookie-img-circle">
          <img
            src="	https://www.lego.com/_next/static/images/cookieguy-a8400ece3d416842cb83d9f1efc22662.png"
            alt="lego with a cookie"
          />
        </div>
        <div class="homepage-cookie-text-img">
          <div class="homepage-cookie-text">
            <span class="homepage-cookie-text-title"
              >Aiutaci a creare per te una fantastica esperienza
              personalizzata!</span
            >
            <span class="homepage-cookie-text-paragraph"
              >Aiutaci a creare per te una fantastica esperienza personalizzata
              per te! Fornisci il consenso per l'utilizzo dei cookie del sito e
              noi creeremo per te un'esperienza fantastica!</span
            >
            <div class="homepage-cookie-links">
            <button class="homepage-cookie-button"><span>Procediamo</span></button>
            <a href="https://www.lego.com/it-it/cookie-policy"
              >Maggiori informazioni</a
            >
          </div>
          </div>
          
          <img
            src="https://www.lego.com/_next/static/images/cookies-afb23abdf31dc35a6f446c474ef33678.png"
            alt="cookies"
          />
        </div>
      </div>
    </div>
    <script src="homepage-cookies.js"></script>
  </body>
</html>
